include /home/bz/.nano/glsl.nanorc
include /home/bz/.nano/ini.nanorc
include /home/bz/.nano/pkg-config.nanorc
include /home/bz/.nano/nanorc.nanorc
include /home/bz/.nano/inputrc.nanorc
include /home/bz/.nano/tcl.nanorc
include /home/bz/.nano/awk.nanorc
include /home/bz/.nano/css.nanorc
include /home/bz/.nano/keymap.nanorc
include /home/bz/.nano/csharp.nanorc
include /home/bz/.nano/asciidoc.nanorc
include /home/bz/.nano/pkgbuild.nanorc
include /home/bz/.nano/sls.nanorc
include /home/bz/.nano/cmake.nanorc
include /home/bz/.nano/perl6.nanorc
include /home/bz/.nano/vi.nanorc
include /home/bz/.nano/gentoo.nanorc
include /home/bz/.nano/php.nanorc
include /home/bz/.nano/java.nanorc
include /home/bz/.nano/markdown.nanorc
include /home/bz/.nano/asm.nanorc
include /home/bz/.nano/fortran.nanorc
include /home/bz/.nano/man.nanorc
include /home/bz/.nano/git.nanorc
include /home/bz/.nano/js.nanorc
include /home/bz/.nano/xresources.nanorc
include /home/bz/.nano/kickstart.nanorc
include /home/bz/.nano/sed.nanorc
include /home/bz/.nano/conf.nanorc
include /home/bz/.nano/lua.nanorc
include /home/bz/.nano/mutt.nanorc
include /home/bz/.nano/sql.nanorc
include /home/bz/.nano/dot.nanorc
include /home/bz/.nano/coffeescript.nanorc
include /home/bz/.nano/groff.nanorc
include /home/bz/.nano/ruby.nanorc
include /home/bz/.nano/cython.nanorc
include /home/bz/.nano/yum.nanorc
include /home/bz/.nano/email.nanorc
include /home/bz/.nano/sh.nanorc
include /home/bz/.nano/go.nanorc
include /home/bz/.nano/nginx.nanorc
include /home/bz/.nano/haml.nanorc
include /home/bz/.nano/yaml.nanorc
include /home/bz/.nano/rpmspec.nanorc
include /home/bz/.nano/pov.nanorc
include /home/bz/.nano/systemd.nanorc
include /home/bz/.nano/vala.nanorc
include /home/bz/.nano/json.nanorc
include /home/bz/.nano/mpdconf.nanorc
include /home/bz/.nano/perl.nanorc
include /home/bz/.nano/javascript.nanorc
include /home/bz/.nano/ledger.nanorc
include /home/bz/.nano/makefile.nanorc
include /home/bz/.nano/erb.nanorc
include /home/bz/.nano/patch.nanorc
include /home/bz/.nano/apacheconf.nanorc
include /home/bz/.nano/po.nanorc
include /home/bz/.nano/fish.nanorc
include /home/bz/.nano/scala.nanorc
include /home/bz/.nano/html.nanorc
include /home/bz/.nano/gitcommit.nanorc
include /home/bz/.nano/peg.nanorc
include /home/bz/.nano/colortest.nanorc
include /home/bz/.nano/xml.nanorc
include /home/bz/.nano/lisp.nanorc
include /home/bz/.nano/tex.nanorc
include /home/bz/.nano/zsh.nanorc
include /home/bz/.nano/privoxy.nanorc
include /home/bz/.nano/c.nanorc
include /home/bz/.nano/reST.nanorc
include /home/bz/.nano/python.nanorc
