BODY {
	BACKGROUND-COLOR: #ffffff
}
A {
	TEXT-DECORATION: none
}
A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva
}
A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #999999; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva
}
A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #003366; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva
}
P A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ff6600; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva
}
P A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #003366; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva
}
P A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #0088ff; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva
}
CENTER A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ff6600; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva
}
CENTER A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #003366; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva
}
CENTER A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #0088ff; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva
}
#i {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #0000ff; FONT-STYLE: normal; FONT-FAMILY: serif goth Hv BT, verdana, arial, geneva; TEXT-ALIGN: justify
}
#active-link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #cc6600; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #777777; FONT-STYLE: normal; FONT-FAMILY: monotypecom, verdana; TEXT-ALIGN: center
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #777777; FONT-STYLE: normal; FONT-FAMILY: monotypecom, verdana; TEXT-ALIGN: center
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #777777; FONT-STYLE: normal; FONT-FAMILY: monotypecom, verdana; TEXT-ALIGN: left
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #777777; FONT-STYLE: normal; FONT-FAMILY: monotypecom, verdana; TEXT-ALIGN: left
}
TH {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: #cceeee; FONT-STYLE: normal; FONT-FAMILY: monotypecom, verdana; TEXT-ALIGN: center
}
TD {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva
}
#main-1 {
	BACKGROUND: #003366
}
#main-2 {
	BACKGROUND: #cccccc
}
#sub-1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #003366; COLOR: #cccccc; FONT-STYLE: normal; FONT-FAMILY: verdana, Monotypecom; TEXT-ALIGN: left
}
#sub-11 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #003366; COLOR: #cccccc; FONT-STYLE: normal; FONT-FAMILY: verdana, Monotypecom
}
#sub-2 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: #003366; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: verdana, Monotypecom; TEXT-ALIGN: left
}
#copyright {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #333366; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva; TEXT-ALIGN: right
}
P {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: serif goth Hv BT, verdana, arial, geneva; TEXT-ALIGN: justify
}
#content {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: serif goth Hv BT, verdana, arial, geneva
}
#content-bold {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: serif goth Hv BT, verdana, arial, geneva
}
signatur {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: serif goth Hv BT, verdana, arial, geneva; TEXT-ALIGN: left
}
UL {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: serif goth Hv BT, verdana, arial, geneva; LIST-STYLE-TYPE: square; TEXT-ALIGN: justify
}
#month {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #666666; FONT-STYLE: normal; FONT-FAMILY: serif goth Hv BT, verdana, arial, geneva; TEXT-ALIGN: left
}
#duration {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva; TEXT-ALIGN: left
}
#title {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva; TEXT-ALIGN: left
}
#discription {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva; TEXT-ALIGN: left
}
#bu {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #cc6600; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva; TEXT-ALIGN: right
}
#ki {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #3366cc; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva; TEXT-ALIGN: right
}
#fee {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva; TEXT-ALIGN: right
}
#sem-nr {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva
}
#note {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #666666; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva; TEXT-ALIGN: left
}
#sem-title {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva; TEXT-ALIGN: left
}
#sem-subtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva; TEXT-ALIGN: left
}
#referenten {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #666666; FONT-STYLE: normal; FONT-FAMILY: serif goth Hv BT, verdana, arial, geneva
}
#contribution {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva; TEXT-ALIGN: left
}
#dozent {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: serif goth Hv BT, verdana, arial, geneva; TEXT-ALIGN: right
}
#dozent-small {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: serif goth Hv BT, verdana, arial, geneva; TEXT-ALIGN: right
}
#dozent-descr {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: serif goth Hv BT, verdana, arial, geneva; TEXT-ALIGN: left
}
